html {
    background-color: #f8f8f8;
    font-family: proxima-nova, sans-serif;
}

.content {
    background-color: white;
    margin: auto;
    margin-left: 20%;
    width: 100%;
    height: 100%;
}

.horizontalAlign {
    display: flex;
    flex-direction: row;
}