{% extends "Sidebar.html"%}

{% block title %}
Recipes
{% endblock title %}


{%block content %}

<div class="content">
    <link href="{{ url_for('static', filename='css/cookedRecipes.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/MyRecipes.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <div id="cardBox">
        {% include "HomeCard.html" %}
    </div>
</div>
{% endblock content %}