{% extends "Sidebar.html"%}

{% block title %}
Edit Recipe
{% endblock title %}


{%block content %}

<div class="content">
    <div class="inputForm">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/EditRecipe.css') }}" rel="stylesheet">
        <h1 id="recipeTitle"> Recipe Editor </h1>

        <form class="editForms" action="" method="POST">
            {{ form.csrf_token() }}
            {{ form.hidden_tag() }}
            {{ form.title.label(class="formLabel")}}
            {{ form.title(class="formInput") }}
            {{ form.servings.label(class="formLabel") }}
            {{ form.servings(class="formInput") }}
            {{ form.difficulty.label(class="formLabel") }}
            {{ form.difficulty(class="formInput") }}
            {{ form.rating.label }}
            {{ form.rating(class="formInput")}}
            {{ form.prep_time.label(class="formLabel") }}
            {{ form.prep_time(class="formInput") }}
            {{ form.category.label(class="formLabel") }}
            {{ form.category(class="formInput") }}
            {{ form.description.label(class="formLabel") }}
            {{ form.description(cols="35", rows="20", class="formInput", id="formDescription") }}
            {{ form.steps.label(class="formLabel") }}
            {{ form.steps(cols="35", rows="20", class="formInput", id="formDescription") }}
            <hr>
            <a class="formLabel"> Ingredients: </a>
{#            {{ form.ingredients.label(class="formLabel") }}#}

            {% for ingredient in ingredients %}
{#                NOTE THIS CHECKBOX IS UNCHECKED BY DEFAULT, THIS FUNCTIONALITY CAN BE ADDED USING an if statment
that would have to cross query current ingredients in the pantry#}
                {% if ingredient in ingredients_checked %}
                    <label>
                        <input type="checkbox" name="ingredients" value={{ ingredient }} checked>{{ ingredient }}
                    </label>
                {% else %}
                    <label>
                        <input type="checkbox" name="ingredients" value={{ ingredient }} >{{ ingredient }}
                    </label>
                {% endif %}
            {% endfor %}

{#            {{ form.submit.label(class="formLabel", id="submitButtonEditorLabel") }}#}
            {{ form.submit(class="submitButtonEditor") }}
        </form>
    </div>


</div>
{% endblock content %}