{% extends "Sidebar.html"%}

{% block title %}
Recipes
{% endblock title %}


{%block content %}

<div class="content">
        <form action="" method="POST">
        {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ form.sortBy.label }}
            {{ form.sortBy }}
            {{ form.nameSearch.label }}
            {{ form.nameSearch }}
            {{ form.categorySearch.label }}
            {{ form.categorySearch }}
            {{ form.ingredientSearch.label }}
            {{ form.ingredientSearch }}
            {{ form.searchField }}
            {{ form.submit }}
        </form>
    <link href="{{ url_for('static', filename='css/MyRecipes.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <div id="cardBox">
        {% include "RecipeCard.html" %}
    </div>


</div>
{% endblock content %}