{% extends "Sidebar.html" %}

{% block title %}
Pantry
{% endblock title %}

{% block content %}
<!--TODO: I'll finish this up-->
<div class="IngredientHead">
    <link href="{{ url_for('static', filename='css/NewIngredient.css') }}" rel="stylesheet">
    <div class="Title">
        <b>My&nbsp;Ingredient</b>
    </div>
    <div class="Row">
      <label class="Label">Name1
      <input class="TextBox"/>
          </label>
      <label class="Label">Name2
      <input class="TextBox"/>
          </label>
      <label class="Label">Name6
      <input class="TextBox"/>
          </label>
    </div>
    <div class="Row">
      <label class="Label">Name3
      <input class="TextBox"/>
          </label>
      <label class="Label">Name4
      <input class="TextBox"/>
          </label>
      <label class="Label">Name5
      <input class="TextBox"/>
          </label>
    </div>



</div>

{% endblock content %}
