{% extends "Sidebar.html" %}

{% block title %}
Pantry
{% endblock title %}

{% block content %}
<!--TODO: I'll finish this up-->
<div class="IngredientHead">
    <link href="{{ url_for('static', filename='css/PantryCard.css') }}" rel="stylesheet">
    <div class="Title">
        <b>My&nbsp;Ingredient</b>
    </div>
    <div class="Row">
      <label for="name1">Name1
      <input class="TextBox"/>
          </label>
      <label for="name2">Name2
      <input class="TextBox"/>
          </label>
      <label for="name6">Name6
      <input class="TextBox"/>
          </label>
    </div>
    <div class="Row">
      <label for="name3">Name3
      <input class="TextBox"/>
          </label>
      <label for="name4">Name4
      <input class="TextBox"/>
          </label>
      <label for="name5">Name5
      <input class="TextBox"/>
          </label>
    </div>



</div>

{% endblock content %}
