{% extends "Sidebar.html"%}

{% block title %}
Edit Recipe
{% endblock title %}


{%block content %}

<div class="content">
    <form action="" method="POST">

{#        {{ form.csrf_token }}#}
{#            {{ form.hidden_tag() }}#}
{#            {{ form.title.label }}#}
{#            {{ form.title }}#}
{#            {{ form.servings.label }}#}
{#            {{ form.servings }}#}
{#            {{ form.difficulty.label }}#}
{#            {{ form.difficulty }}#}
{#            {{ form.prep_time.label }}#}
{#            {{ form.prep_time }}#}
{#            {{ form.category.label }}#}
{#            {{ form.category }}#}
{#            {{ form.description.label }}#}
{#            {{ form.description(cols="35", rows="20") }}#}
{#            {{ form.steps.label }}#}
{#            {{ form.steps(cols="35", rows="20") }}#}
{#            {{ form.submit.label }}#}
{#            {{ form.submit }}#}
        </form>

</div>
{% endblock content %}