{% block content %}

{% for recipe in recipes %}


<div class="recipeCard">

    <div class="topRowComponent">
        <div class="recipeElementsContainer">
            <link href="https://fonts.googleapis.com" rel="preconnect">
            <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
            {# These stylesheets are the iconography#}
            <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
                  rel="stylesheet"/>
            <link href="{{ url_for('static', filename='css/RecipeCard.css') }}" rel="stylesheet">

            <h1 class="recipeTitle"> {{recipe.recipe_name}} </h1> {# PUT RECIPE TITLE VARIABLE HERE #}
            <div class="recipeMetrics">
                <div class="recipeAttributeContainer">
                    <div class="recipeAttributeNumberBox">
                        <span class="material-symbols-outlined">category</span>
                        <a class="recipeAttribute"> {{ recipe.numberIngredients }} </a> {# PUT REAL TIME HERE#}
                    </div>
                    <a class="recipeAttributeIdentifier"> Ingredients </a>
                </div>
                <div class="recipeAttributeContainer">
                    <div class="recipeAttributeNumberBox">
                        <span class="material-symbols-outlined">group</span>
                        <a class="recipeAttribute"> {{recipe.servings}} </a>
                    </div>
                    <a class="recipeAttributeIdentifier"> Servings </a>
                </div>
                <div class="recipeAttributeContainer">
                    <div class="recipeAttributeNumberBox">
                        <span class="material-symbols-outlined">schedule</span>
                        <a class="recipeAttribute"> {{recipe.cook_time}} </a> {# PUT REAL atrr HERE#}
                    </div>
                    <a class="recipeAttributeIdentifier"> Minutes </a>
                </div>
            </div>

            <div class="recipeDifficulty">
                Difficulty: {{ recipe.difficulty }}
            </div>

            <div class="recipeDifficulty">
                Category: {{ recipe.category }}
            </div>

            <div class="recipeDifficulty" style="margin-bottom: 30px">
                Date Created: {{ recipe.date_created }}
            </div>
        </div>
        {# This is likely not flask compatible code below but I have still written the logic for you,
        the input place holder should either be the current recipe OR nothing if there is no recipe currently, that way
        the user can edit#}
        <div class="textEditor">
            <a class="textEditorTitle"> Recipe Body: </a>
            <a class="recipeBody"> {{ recipe.description }} </a>
        </div>

        <div class="buttonSections">
            <label for="multiplierForm" style="display: block">Multiplier:</label>
            <input type="text" name="multiplier" id="multiplierForm" style="display: block" value="1" onkeydown="myFunction(this)"/>
            <button class= "editButton" onclick="document.location.href='/editRecipe?rId={{ recipe.ruid }}';"> Edit Recipe </button>
            <button class= "editButton" onclick="document.location.href='/cookRecipe?rId={{ recipe.ruid }}&multiplier='+ document.getElementById('multiplierForm').value;"> Cook Recipe </button>
            <button class= "editButton" onclick="document.location.href='/EditIngredientQuantities?rId={{ recipe.ruid }}';"> Edit <br> Ingredient <br> Quantities</button>
            <button class="editButton" onclick="document.location.href='/deleteRecipe?rId={{ recipe.ruid }}';"> Delete Recipe </button>

        </div>
        <div class="ingredientsSection">
            <a class="textEditorTitle" id="ingredientsTitle"> Ingredients and Quantity: </a>
            {% for i in recipe.ingredients.keys() %}
{#                HOW WILL QUANTITY BE STORED ON A RECIPE CARD#}
                <a class="ingredientItem">{{ i }} : {{ recipe.ingredients[i] }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="stepsRowComponent">
        <a class="stepsTitle"> Steps:</a>
        {% set recipeStepsList = recipe.steps[2:recipe.steps|length-1] %}
        {% set listOfSteps = recipeStepsList.split(',') %}
{#        <a class="steps"> {{ recipeStepsList }}</a>#}
        {% for i in listOfSteps %}
            <a class="steps"> {{ i }} </a>
        {% endfor %}
    </div>



    {# These are fonts #}


</div>
{%endfor%}
{% endblock content %}