{% extends "Base.html" %}

{% block styles %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700;6..96,900&family=Roboto:wght@500;900&display=swap" rel="stylesheet">
{% endblock styles %}

{% block header %}
    <link href="{{ url_for('static', filename='css/Header.css') }}" rel="stylesheet">
    <div class="heading">
        <div class="leftText">Ryan Gosling</div>
    </div>
{% endblock header %}

{% block sidebar %}
<link href="{{ url_for('static', filename='css/Sidebar.css') }}" rel="stylesheet">
<div class="sidebar">

    <div class="top">Menu</div>
    <a class="item" href="/Home">Home</a>
    <a class="item" href="/Pantry">Pantry</a>
    <a class="item" href="/MyRecipes">My Recipes</a>
    <a class="item" href="/cookedRecipes">Cooked Recipes</a>

    <div class="bottom">
        <div class="accountLabel">{{ user.username }}</div>
        <div class="settings"><a href="Settings">Settings</a></div>
        <div class="logout"><a href="/Logout">Log Out</a></div>
    </div>
</div>
{% endblock sidebar %}