{% extends "Access.html"%}

{% block title %}
Sign Up
{% endblock title %}



{%block content %}
<div class="accessPage">
    <div class="bigText">Welcome to Ryan Gosling!</div>
    <div class="welcomeSubtext">Your recipe and grocery tracker</div>

    <div class="formSection">
        <div class="bigText">New Member</div>

        <form class="formSection" action="" method="POST">

            {{form.username.label()}}
            {{form.username()}}
            {{form.email.label()}}
            {{form.email()}}
            {{form.password.label()}}
            {{form.password()}}
            {{form.confirm_password.label()}}
            {{form.confirm_password()}}
            {{form.submit()}}
            <!--label for="username" class="labelText">Username:</label>
            <input type="text" id="username"><br>
            <label for="email" class="labelText">Email:</label>
            <input type="text" id="email"><br>
            <label for="password" class="labelText">Password:</label>
            <input type="password" id="password"><br>
            <label for="re-enter-password" class="labelText">Re-enter Password:</label>
            <input type="password" id="re-enter-password"><br>
            <input type="submit" value="SIGN UP" class="loginSignUpButton">
             -->
        </form>
    </div>
</div>
{% endblock content %}